@charset "EUC-KR";
.pg{
	width:800px;
	margin-right:auto;
	margin-left:auto;
	
}
.head{
	background-image:url(title.jpg);
	background-repeat:no-repeat;
	width:800px;
	height:265px;
}
.head h1{
	display:none;
	
}

.entries{
	float:left;
	width:680px;
	
}
.sidebar{
	float:left;
	text-align:right;
	width:70px;
	padding-left:1em;
	margin-left:1em;
	
	text-decoration:none;
	list-style:none;
	list-style-type:none;
}

.foot{
	background-color:#008040;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#999999;
	padding:10px;
	color:#ffffff;
	margin-top:10px;
	clear:left;
	text-align:center;
}




